<!--
TODO: Maverick January 17, 2012 Add in real about content
-->
<h1>About us</h1>
<h3 style="text-align:center">We are passionate about stories. It’s our mission to help people have fun while perhaps being creative in their writing, bold in their decisions and collaborative in their writing.</h3>
<br />
<p>Read more in our first blog post - <a href="http://blog.branchitout.com/?p=5">looking down a path</a>.</p>
<br />
<h1>Contact Us</h1>
<p>Get in touch with us at info@branchitout.com</p>
<br />
<h1>Team</h1>
<div class="row">
  <div class="span4">
    <h2 class="right">Chris Wu</h2>
    <div class="clear"></div>
    <span class="right">Code Cowboy</span>
  </div>
  <div class="span8">
    <p>From Chris, "I'm a jack-of-all trades engineer who strives to get the job done. My experience from co-op has ranged from doing computer vision on flying robots to working on a social network site with millions of monthly active users. I've decided to work in startups because of the culture and the chance to be responsible for "making a dent in the world"."</p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2 class="right">Maverick Lee</h2>
    <div class="clear"></div>
    <span class="right">Man in the Middle</span>
  </div>
  <div class="span8">
    <p>Maverick has been working on various programming projects for 6 years.  He last worked at Minted, building a web application to create high-end paper products to send to print.  Along the way he's been in a variety of fields including mobile development, data visualization, game development and things just for fun.  In his spare time he's often playing pingpong and StarCraft 2.</p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2 class="right">Daniel Arrizza</h2>
    <div class="clear"></div>
    <span class="right">Chef de la direction</span>
  </div>
  <div class="span8">
    <p>Daniel's mission in life is to help humanity create a positive future. You know, without people starving and stuff. This is his attempt to have the world write its own story. When he's not writing in his notebook or jogging he's studying Systems Design Engineering and dancing swing, blues or salsa. 
    </p>
  </div>
</div>
